{% extends 'app1/base.html' %}
{% load static %}
{% block body %}
<script>
    function showAlertdelet() {
        alert("You Can't Delete, pls go to loan section");
    }
    function showAlertedit() {
        alert("You Can't Edit, pls go to loan section");
    }
    
    </script>
<div class="page-content">
    <div class="card radius-15 h-20">
        <div class="row">
            <div class="col-md-12">
                <center><h2 class="mt-3">CASH IN HAND</h2></center>
                
                <hr style="width:95%">
                
            </div>
            
        </div>
        <div class="col-md-4 mt-5" style="margin-left: 1000px;">
            <!-- <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                    data-toggle="dropdown">Filter by
                            </button> -->
            <button type="button" class="btn btn-outline-info  text-grey"><a href="{% url 'cash_statement' %}">STATEMENT</a>
            </button>
            <button type="button" class="btn btn-outline-info text-grey" >
                <a href="{% url 'add_cash_adjust' %}">Add Cash</a>
            </button>     
           
              
        </div>
    </div>
   
   <!-- ffff -->
<div class="card radius-15">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col form-inline d-flex">
                    <p class="form-inline d-flex mt-2 " style="font-size: large;margin-left: 1000px;"><span>  </span> Balance : <h5 class="form-inline">{{cmp1.cash}}</h5> </p>
                 </div>
            </div>
            
            <div class="row">
               
                
                <div class="col-md-4">
                    <div class="search-bar">
                        <div class="input-group">
                            <div class="input-group-prepend search-arrow-back">
                                <button class="btn btn-search-back" type="button"><i class="bx bx-arrow-back"></i></button>
                            </div>
                            <input class="form-control" type="search" id="searchInput" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i></button>
                            </div>
                           
                    
                                </div>
                                
                            </div>
                            
                          </div>
                          <div class="col-md-4">
                            <form method='POST' id="dateFilterForm">
                                {% csrf_token %}
                                <input type="date" id="start_date" name='sdate' value="{{ today_date }}">
                                <span class="ml-2 mr-2 mt-2"> TO </span>
                                <input type="date" id="end_date" name='edate' value="{{ today_date }}">
                                <input type="button" value='View' onclick="filterByDate()">
                            </form>
                        </div>
                          <div class="col-md-2">
                          <div class="dropdown">
                            <!-- <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                    data-toggle="dropdown">Filter by
                            </button> -->
                            <div class="dropdown-menu" style="background-color: black;">
    <a class="dropdown-item" href="javascript:void(0);" onclick="sortTable(0, 'asc')"
       style="height: 40px; font-size: 15px; color: white;">Name Ascending</a>
    <a class="dropdown-item" href="javascript:void(0);" onclick="sortTable(0, 'desc')"
       style="height: 40px; font-size: 15px; color: white;">Name Descending</a>
</div>

                        </div>
                    </div>
                  <div class="col-md-2">
                    <!-- <button type="button" class="btn btn-outline-info  text-grey"><a href="{% url 'cash_statement' %}">STATEMENT</a>
            </button> -->
                    
                  </div>
                 
                  
                
            <div class="col-md-2">
                <div class="dropdown">
                    <!-- <button type="button" class="btn btn-outline-info text-grey" >
                        <a href="{% url 'add_cash_adjust' %}">Add Cash</a>
                    </button> -->
                </div>
            </div>
            
            
                  </div>
                </div>
              </div>
            <div class="table-responsive">
                <table class="table table-responsive-md table-hover mt-4" id="tabletobe">
                    <thead>
                        
                        <th>DATE</th>
                        <th >TYPE</th>
                        <th >NAME</th>
                        <!-- <th >DESCRIPTION</th> -->
                        <th >AMOUNT</th>
                        <th>ACTION</th>
                    </thead>
                    <tbody>
                        {% for i in toloan %}
                        <tr>
                            
                            <td>{{i.loan_date}}</td>
                            <td>{{i.bank_type}}</td>
                            <td>{{i.type}}</td>
                            <!-- <td>{{i.loan_desc}}</td> -->
                            <td>
                                {% if i.bank_type == "EMI PAID" %}
                                    -{{ i.loan_amount }}
                                {% else %}
                                    {{ i.loan_amount }}
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit-item" href="javascript:void(0);" onclick="showAlertedit()">Edit</a>
                                        <a class="dropdown-item delete-item" href="javascript:void(0);" onclick="showAlertdelet()">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for i in getloan %}
                        <tr>
                            
                            <td>{{i.loan_date}}</td>
                            <td>{{i.bank_type}}</td>
                            <td>{{i.type}}</td>
                            <!-- <td>{{i.loan_desc}}</td> -->
                            <td>
                                {% if i.bank_type == "EMI PAID" %}
                                    -{{ i.loan_amount }}
                                {% else %}
                                    {{ i.loan_amount }}
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit-item" href="javascript:void(0);" onclick="showAlertedit()">Edit</a>
                                        <a class="dropdown-item delete-item" href="javascript:void(0);" onclick="showAlertdelet()">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                {% for a in bnk %}
                        <tr>
                            <td>{{a.cash_date}}</td>
                            {% if a.type != 'OPENING BAL'  %}
                            {% if a.cash_adjust == 'ADD CASH' %}
                                <td>  {{a.cash_adjust }}</td>
                                {% elif a.cash_adjust == 'REDUCE CASH' %}
                                <td> {{a.cash_adjust }}</td>
                            {% endif %}
                            <td>{{a.bank_type}}</td>
                           
                            <!-- <td>{{a.cash_description}}</td> -->
                            {% if a.cash_adjust == 'ADD CASH' %}
                            <td> {{a.cash_cash}}</td>
                            {% elif a.cash_adjust == 'REDUCE CASH' %}
                            <td>-{{a.cash_cash}}</td>
                            {% endif %}
                            {% if a.bank_type == '' %}
                            <td>
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit-item" href="{% url 'edit_added_cash' a.id %}" >Edit</a>

                                        <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                    </div>
                                </div>
                            </td>
                            {% else %}
                            <td>
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                    <div class="dropdown-menu">

                                        <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                {% endif %}
                        </tr>
                       
   
<script>


    $(document).ready(function () {
        $(".edit-item").on("click", function () {
            $("#editModal").modal("show");
        });
    });
</script>

                        <div class="modal fade" id="deleteModal{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this item?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'delet_bnk' a.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <div class="modal fade " id="editModal{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="bankToBankTransferModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="background-color: #213b52;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addBankModalLabel">CASH ADJUST</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                            
                     {% endfor %}
                     <!-- {% for a in pordr %}  
                     <tr>
                        
                        <td>{{a.date}}</td>
                        <td>PURCHASE ORDER</td>
                        <td>{{a.vendor_name}}</td>
                        <td>-{{a.grand_total}}</td>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %}  -->
                    <!-- {% for a in sordr %}
                    <tr>
                        
                        <td>{{a.saledate}}</td>
                        <td>SALES ORDER</td>
                        <td>{{a.salename}}</td>
                        <td>{{a.salestotal}}</td>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                         
                    </tr>
                    {% endfor %} -->
                    <!-- <tr>
                        {% for a in empln %}
                        <td>{{a.LoanDate}}</td>
                        <td>EMPLOYEE LOAN</td>
                        <td>{{a.employee.firstname}}</td>
                        <td>-{{a.LoanAmount}}</td>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                        {% endfor %} 
                    </tr> -->
                    <!-- {% for a in payrec %}
                    <tr>
                        
                        <td>{{a.paymdate}}</td>
                        <td>PAYMENT RECEIVED</td>
                        <td>{{a.customer}}</td>
                        <td>{{a.balance}}</td>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %} -->
                    <!-- {% for a in bill %}
                    <tr>
                        
                        <td>{{a.date}}</td>
                        <td>BILL</td>
                        <td>{{a.vendor_name}}</td>
                        <td>-{{a.paid_amount}}</td>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %} 
                    {% for a in dbtnt %}
                    <tr>
                        
                        <td>{{a.debitdate}}</td>
                        <td>DEBIT NOTE</td>
                        <td>{{a.vendor}}</td>
                        <td>{{a.paid_amount}}</td>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                       
                    </tr>
                    {% endfor %} 
                    {% for a in rcrbl %}
                    <tr>
                       
                        <td>{{a.start_date}}</td>
                        <td>RECURRING BILL</td>
                        <td>{{a.vendor_name}}</td>
                        <td>-{{a.paid_amount}}</td>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-ellipsis-v" style="font-size:24px" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item delete-item" href="#" data-toggle="modal" data-target="#deleteModal{{ a.id }}">Delete</a>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %}  -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<!-- Add Cash Modal -->
<div class="modal fade" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="addBankModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBankModalLabel">Add Cash</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add your form elements for adding cash here -->
                <!-- For example: -->
                <form method="post" action="{% url 'add_cash' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="amount">Adjustment</label>
                        <select class="form-control" name="cashadj" id="">
                            <option value="ADD CASH">Add Cash</option>
                            <option value="REDUCE CASH">Reduce Cash</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="" name="amount">
                    </div>
                    <div class="form-group">
                        <label for="amount">Adj Date </label>
                        <input type="date" class="form-control" id="" name="date">
                    </div>

                    <div class="form-group">
                        <label for="amount">Description</label>
                        <input type="text" class="form-control" id="" name="desc">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Cash</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>




<script>
   function sortTable(n, sortOrder) {
    var table, rows, switching, i, x, y, shouldSwitch, switchcount = 0;
    table = document.getElementById("tabletobe");

    if (!table) {
        console.error("Table not found.");
        return;
    }

    rows = table.getElementsByTagName("TR");
    switching = true;

    while (switching) {
        switching = false;

        // Start loop from index 1 to skip the header row
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];

            if (x && y) { // Check if x and y are defined
                var xValue = x.innerHTML.toLowerCase();
                var yValue = y.innerHTML.toLowerCase();

                if ((sortOrder === "asc" && xValue > yValue) ||
                    (sortOrder === "desc" && xValue < yValue)) {
                    shouldSwitch = true;
                    break;
                }
            }
        }

        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount === 0 && sortOrder === "asc") {
                sortOrder = "desc";
                switching = true;
            }
        }
    }
}

    // Search functionality
    const searchInput = document.getElementById('searchInput');
    const tableRows = document.querySelectorAll('#tabletobe tbody tr');

    searchInput.addEventListener('input', function () {
        const searchText = this.value.toLowerCase();

        tableRows.forEach(row => {
            let foundMatch = false;
            const cells = row.querySelectorAll('td');

            cells.forEach(cell => {
                const cellText = cell.textContent.toLowerCase();
                if (cellText.includes(searchText)) {
                    foundMatch = true;
                }
            });

            row.style.display = foundMatch ? 'table-row' : 'none';
        });
    });
</script>
<script>
    function filterByDate() {
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;

        const tableRows = document.querySelectorAll('#tabletobe tbody tr');

        tableRows.forEach(row => {
            const dateCell = row.querySelector('td:first-child'); // Assuming date is the first column

            if (dateCell) {
                const rowDate = dateCell.textContent;
                row.style.display = isDateInRange(rowDate, startDate, endDate) ? 'table-row' : 'none';
            }
        });
    }

    function isDateInRange(date, startDate, endDate) {
        const currentDate = new Date(date);
        const start = new Date(startDate);
        const end = new Date(endDate);

        return currentDate >= start && currentDate <= end;
    }
</script>

{% endblock %}
